webdataset==0.1.103
timm==0.6.7
einops==0.4.1
regex==2022.6.2
braceexpand==0.1.7
ftfy==6.1.1
omegaconf==2.2.2
Pillow==9.3.0
termcolor==1.1.0
torch
torchvision
nltk
git+https://github.com/openai/CLIP.git
tensorboardX
tensorboard
wandb
tqdm
